#how-it-works {
    min-height: calc(100vh - 90px)
  }

.wrapper {
    display: grid;
    grid-template-columns:45% 55%;
    min-height: inherit;
  }

.wrapper-mobile{
    display:flex;
    flex-direction: column;
    margin-top: 1rem;
}

.title-panel{
background-color: #0A3273;
}

.info-panel{
    background-color: rgba(102, 149, 225, 0.10);
}

.title-banner{
    background-color: rgba(102, 149, 225, 0.37);
    display: flex;
    padding-block: 1rem;
}

.title-banner > img{
    margin-inline: auto;
    width: 180px;
}

.title-container{
    color: white;
    display: flex;
    height: calc(100% - 82px);
    justify-content: right;
}

.title-text{
    margin-block:auto;
    width: 60%;
}

.info-container{
    color: black;
    display: flex;
    height: 100%;
    justify-content: left;
}

.info-text{
    margin-block:auto;
    width: 80%;
    padding: 1rem;
}