body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.layout {
  width: 80%;
  margin: 0 auto;
  padding-block: 2rem;
}

.home h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 4rem;
}

.home strong {
  color: #758467;
}
.home h2 {
  color: #819171;
  font-weight: lighter;
}

.home a {
  padding-inline: 0.5rem;
  border-radius: 5px;
  color: white;
  background-color: #819171;
  text-decoration: none;
  transition: all 100ms;
}

.home a:hover {
  color: #cbd5c0;
}

.last-works h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
